body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.layout {
  min-height: 100vh ;
  box-sizing: border-box;
  border-width: thin !important;
}
.approveImage{
  margin: 0;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

#rectangle {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 5px;
}
@media (min-width: 2080px) and (max-width: 4096px) {
  .titleHeader {
    font-size: 41px !important;
  }
}
